/*@media screen and (max-width: 780px){
  .container-fluid { max-height: 170px !important; }
}*/

.navbar {
  border-radius: 0;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 15px;
  font-size: 1.6rem;
  padding-top: 10px;
}

.navbar-brand {
  color: green;
  text-shadow: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 15px;
  text-decoration: none;
}

.nav a, button.glyphicon-off, span.glyphicon-off.off, button.nav-lang {
  text-transform: uppercase;
  text-shadow: none;
  border: none;
  color: #F5F5F5;
  background-color: transparent;
  padding: 15px;
  margin-right: 10px;
}

span.glyphicon-off.off {
  color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  text-shadow: none;
}

.nav a:hover, button.glyphicon-off:hover, button.nav-lang:hover {
  text-decoration: none;
  color: #bfbfbf;
}

button.glyphicon-off:focus, button.nav-lang:focus {
  outline: 0;
}
