.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-left: 20px;
  max-width: 500px;
  border: 1px green solid;
}

.profile-title {
  text-align: center;
  border-bottom: 1px green solid;
  width: 250px;
  padding-bottom: 20px;
}

.profile-pic {
  margin-top: 30px;
  margin-bottom: 5px;
  width: 250px;
  height: 250px;
}

.upload-new-pic {
  display: flex;
  align-items: center;
  color: grey;
}

button.camera-icon, button.glyphicon-pencil {
  color: #F5F5F5;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 7px;
}

button.camera-icon:hover, button.glyphicon-pencil:hover {
  color: green;
}

.infos-container {
  margin-top: 20px;
  min-width: 250px;
  display: inline-block;
}

.infos-title {
  width: 70px;
  display: inline-block;
  color: grey;
}

.infos-password {
  color: grey;
}

.infos-form {
  margin-top: 30px;
  padding: 15px;
  border: 2px solid green;
  position: relative;
}

.infos-form:before {
  content: '';
  position: absolute;
  border: 1px solid green;
}

.infos-form.top:before {
  border-color: green transparent;
  border-width: 0 13px 11px 13px;
  top: -13px;
  left: 45%;
}

.submit-button {
  margin-top: 10px;
}

.search-user-container {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px green solid;
  width: 240px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px green solid;
}

.search-user-input {
  width: 240px;
}
