@media screen and (max-width: 780px){
  .dropzone-container { flex-direction: column; }
  .homepage-container { margin-top: 5vh !important; }
}
@media screen and (max-width: 500px){
  .homepage-container { width: 300px !important; margin-top: 5vh !important; }
}

.homepage-container {
  margin: auto;
  margin-top: 15vh;
  margin-bottom: 10vh;
  width: 450px;
  padding: 10px 25px 25px 25px;
  border-style: solid;
  border-width: 2px;
  background-color: #F5F5F5;
  border-color: green;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #101010;
  animation: fadein 1s;
  border-radius: 3%;
}

.homepage-background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/HomePage.jpg');
  background-size: cover;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.homepage-submit {
  margin: 10px;
  border-radius: 10px;
}

ul.social-icons {
  padding: 0;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 40px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
  color: whitesmoke;
  margin: 2px;
  font-size: 1.4em;
}

.fa-facebook {
  padding: 10px 14.5px;
  transition: .5s;
  background-color: #322f30;
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-linkedin {
  padding: 10px 12px;
  transition: .5s;
  background-color: #322f30;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-google {
  padding: 10px 12px;
  transition: .5s;
  background-color: #322f30;
}

.fa-google:hover {
  background-color: #e25714;
}

.logo-42 {
  height: 39px;
  width: 40.8px;
  padding: 9px 7px;
  transition: .5s;
  margin-top: -2px;
  background-color: #322f30;
}

.logo-42:hover {
  background-color: #00babc;
}

.fa-google:hover {
  background-color: #e25714;
}

.social-icon > .fa-github {
  padding: 10px 12px;
  transition: .5s;
  background-color: #322f30;
}
.social-icon > .fa-github:hover {
  background-color: black;
}

a.homepage-linkto {
  color: #101010;
}

a.homepage-linkto:hover {
  color: #101010;
  text-decoration: underline;
  text-decoration-color: green;
}

h2.homepage-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7em;
  border-bottom: green 2px solid;
  padding-bottom: 20px;
}

.homepage-hypertube-title {
  color: green;
  font-weight: 700;
  text-transform: uppercase;
}

.picture-preview {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.signup-camera-icon {
  font-size: 48px;
}

.dropzone-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone {
  margin: 20px;
  border-style: solid;
  border-width: medium;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
