@media screen and (max-width: 780px){
  .movie-poster { height: auto !important; max-width: 40% !important;}
  .movie-container { flex-direction: column !important; align-items: center;}
  .movie-infos { width: 100vw !important; }
}

.movie-container {
  color: #F5F5F5;
  display: flex;
  flex-direction: row;
  animation: fadein 1s;
  padding-bottom: 20px;
}

.movie-poster {
  height: 90vh;
  max-width: 100%;
}

.movie-infos {
  width: 900px;
  padding-left: 20px;
  padding-right: 20px;
}

.movie-details {
  margin-top: 20px;
}

.movie-overview {
  margin-top: 20px;
}

.movie-torrents {
  margin-top: 20px;
}

.movie-details-text {
  margin-right: 5px;
  color: grey;
}

.movie-year {
  margin-right: 10px;
}

.movie-rating {
  font-size: 1.3em;
}

.glyphicon-star {
  color: yellow;
  font-size: 1.3em;
  margin-right: 5px;
}

.torrents-table {
  width: 100%;
  padding: 100px;
  box-shadow:inset 1px 1px 40px 0 rgba(100,100,100,.45);
}

a.play {
  background-color: transparent;
  color: #F5F5F5;
  cursor: pointer;
  border: none;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

a.play:hover {
  color: yellow;
}

button.play:focus {
  outline: none;
}

.movie-error {
  color: #F5F5F5;
  margin-left: 10px;
}

.movie-seen {
  color: green;
  font-size: 0.8em;
  margin-left: 5px;
}
