.movie-container {
  color: white;
  display: flex;
  flex-direction: row;
}

.movie-poster {
  height: 100vh;
  margin-right: 10px;
}

.movie-details {
  margin-top: 20px;
}

.movie-torrents {
  margin-top: 20px;
}

.torrents-table {
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
}
