.movie-container {
  color: #F5F5F5;
  display: flex;
  flex-direction: row;
  animation: fadein 1s;
}

.movie-poster {
  height: 90vh;
}

.movie-infos {
  width: 900px;
  padding-left: 20px;
}

.movie-details {
  margin-top: 20px;
}

.movie-overview {
  margin-top: 20px;
}

.movie-torrents {
  margin-top: 20px;
}

.movie-details-text {
  margin-right: 5px;
  color: grey;
}

.movie-year {
  margin-right: 10px;
}

.movie-rating {
  font-size: 1.3em;
}

.glyphicon-star {
  color: yellow;
  font-size: 1.3em;
  margin-right: 5px;
}

.torrents-table {
  width: 100%;
  /*border: 1px solid grey;*/
  padding: 100px;
  box-shadow:inset 1px 1px 40px 0 rgba(100,100,100,.45);
}

a.play {
  background-color: transparent;
  color: #F5F5F5;
  cursor: pointer;
  border: none;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

a.play:hover {
  color: yellow;
}

button.play:focus {
  outline: none;
}
