.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.card-button {
  background: #34d95a;
  background-image: -webkit-linear-gradient(top, #34d95a, #246926);
  background-image: -moz-linear-gradient(top, #34d95a, #246926);
  background-image: -ms-linear-gradient(top, #34d95a, #246926);
  background-image: -o-linear-gradient(top, #34d95a, #246926);
  background-image: linear-gradient(to bottom, #34d95a, #246926);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.card-button-container {
  margin-top: 55px;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 20px 20px 20px;
  height: 100%;
  width: 100%;
}

.card-star-icon {
  font-size: 40px;
  color: #42f44b;
}
