.MovieListOverlay-enter {
  opacity: 0.01;
}

.MovieListOverlay-enter.MovieListOverlay-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.MovieListOverlay-leave {
  opacity: 1;
}

.MovieListOverlay-leave.MovieListOverlay-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.card-button {
  background-color: green;
  opacity: 0.8;
  border-radius: 12px;
  color: #F5F5F5;
  font-size: 1.4em;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
}

.card-button:hover {
  background-color: #009900;
  color: #F5F5F5;
  opacity: 1;
  transition: all 300ms ease;
}

.card-button-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 20px 20px 20px;
  height: 100%;
  width: 100%;
  text-align: center;
}

.glyphicon-star.card-star-icon {
  font-size: 1.6em;
}

.card-overlay-infos {
  font-size: 1.6em;
}

.card-overlay-seen {
  color: green;
  font-size: 1.6em;
  margin-top: 10px;
}
