.movie-list-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  margin: 10px;
    animation: fadein 1s;
}

.img-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.searchBar-container {
  margin: 10px;
  border: solid green 2px;
  height: 55px;
  width: 95%;
  border-radius: 12px;
}

.selects-container {
  display: flex;
  align-items: flex-end;
}

.all-selectors {
  display: flex;
  flex-direction: row;
}

.one-selector {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.selector-box {
  color: #101010;
  width: 100px;
}

.gallery-search-button {
  height: 40px;
  width: 100px;
  margin-left: 20px;
}
